.Post-box {
    margin-top: 56px;
    display:flex;
    box-sizing: content-box;
    width: 100%;
}

.Post-Link{
    text-decoration: none;
    color: #242424;
}

.Post-Photo {
    width: 367px;
    height: 260px;
}

.Post-read-box{
    margin-left: 24px;
    border-bottom: solid 1px #EBEBEB;

}

.Post-tag-box{
    width: 100px;
    height: 26px;
    background: #F7F7F7;
    border-radius: 118px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Post-tag{
    font-family: Inter,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #8C8C8C;
}

.Post-topic-box {
    margin-top: 25px;
    margin-bottom: 16px;
    width: 100%;
}

.Post-topic{
    font-family: Playfair Display,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;
    color: #242424;
}

.Post-text-box{
    margin-bottom: 24px;
    width: 100%;
}

.Post-text{
    font-family: IBM Plex Sans,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #8C8C8C;
}

.Post-info-box{
    display: flex;
    align-items: center;
}

.Post-info-box__user-avatar-box{
    width: 40px;
    height: 40px;
}

.Post-info-box__user-avatar{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.Post-info-box__user-name-box {
    margin-left: 8px;
}

.Post-info-box__user-name {
    font-family: IBM Plex Sans Medium,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #8C8C8C;
}

.Post-info-box__dataPost-box{
    margin-left: 24px;
}

.Post-info-box__dataPost{
    font-family: IBM Plex Sans,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #8C8C8C;
}

.Post-info-box__vector{
    margin-left: 24px;
}

.Post-info-box__views{
    margin-left: 8px;
    font-family: IBM Plex Sans,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #8C8C8C;
}