
.main-box {
    display: flex;
    align-items: center;
}

.main-popular-articles-box{
    width: 100%;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.main-popular-articles{
    margin-top: 96px;
    font-family: Playfair Display, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    color: #242424;
}