.MyArticlesPost-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.MyArticlesPost-Photo {
    width: 664px;
    height: 395px;
}

.MyArticlesPost-read-box{
    margin-top: 24px;
    border-bottom: solid 1px #EBEBEB;
    padding-bottom: 17px;
}

.MyArticlesPost-tag-box{
    width: 100px;
    height: 26px;
    background: #F7F7F7;
    border-radius: 118px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MyArticlesPost-tag{
    font-family: Inter,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #8C8C8C;
}

.MyArticlesPost-topic-box {
    margin-top: 24px;
    margin-bottom: 16px;
    width: 100%;
}

.MyArticlesPost-topic{
    font-family: Playfair Display,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;
    color: #242424;
}

.MyArticlesPost-text-box{
    margin-bottom: 24px;
    width: 100%;
}

.MyArticlesPost-text{
    font-family: IBM Plex Sans,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #8C8C8C;
}

.MyArticlesPost-info-box{
    display: flex;
    align-items: center;
}

.MyArticlesPost-info-box__user-avatar-box{
    width: 40px;
    height: 40px;
}

.MyArticlesPost-info-box__user-avatar{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.MyArticlesPost-info-box__user-name-box {
    margin-left: 8px;
}

.MyArticlesPost-info-box__user-name {
    font-family: IBM Plex Sans Medium,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #8C8C8C;
}

.MyArticlesPost-info-box__dataPost-box{
    margin-left: 24px;
}

.MyArticlesPost-info-box__dataPost{
    font-family: IBM Plex Sans,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #8C8C8C;
}

.MyArticlesPost-info-box__vector{
    margin-left: 24px;
}

.MyArticlesPost-info-box__views{
    font-family: IBM Plex Sans,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #8C8C8C;
}