.header-box {
    height: 95px;
    border-bottom: 1px solid #EBEBEB;
    display: flex;
    align-items: center;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header-logo-container {

}

.header-authorization-container {

}