.link-box {
    display: flex;
    align-items: center;
}

.ul-header-login{
    list-style: none;
    display: flex;
}

.li-header-login {
    margin-right: 40px;
}


.button-login-header {
    width: 113px;
    height: 47px;
    background: #242424;
    font-family: IBM Plex Sans,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 15px;
    color: #FFFFFF;
    border: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}



.button-login-footer {
    width: 113px;
    height: 47px;
    background: #242424;
    font-family: IBM Plex Sans,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 15px;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
    border: 1px solid #FFFFFF;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}